.header {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.header::before,
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(24, 144, 255, 0.8), rgba(10, 91, 196, 0.8));
  z-index: -1;
}

.header::after {
  box-shadow: inset 0 0 100px rgba(24, 144, 255, 0.8);
  z-index: -2;
}

.footer {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.footer::before,
.footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(24, 144, 255, 0.8), rgba(10, 91, 196, 0.8));
  z-index: -1;
}

.footer::after {
  box-shadow: inset 0 0 100px rgba(24, 144, 255, 0.8);
  z-index: -2;
}

.logo-container,
.profile-container {
  padding: 10px;
  overflow: hidden;
}
