$navButtonBackgroundColor: #a6acff;  // Warm Grey color
$BlackTextColor: #000000;  // Black color


.flex-column-container {
  background-color: $navButtonBackgroundColor;
  padding: 10px;  // Adjust as needed
  margin: 20px 0 0 20px;  // Adjust margin from the top and left
  border-radius: 8px;
  display: flex;
  flex-direction: column;



  .nav-button {
    background-color: $navButtonBackgroundColor;
    color: $BlackTextColor;
    border-radius: 8px;
    border: 1px solid $BlackTextColor;  // Border color same as text color
    padding: 8px 16px;  // Adjust as needed
    margin-bottom: 8px;  // Adjust as needed

    &:hover {
      background-color: darken($navButtonBackgroundColor, 10%);  // Darken the background color on hover
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.api-buttons {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #F5F5F5;

  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2rem/* 32px */;
    padding-right: 2rem/* 32px */;
    max-width: 20rem/* 448px */;
    gap: 0.5rem/* 8px */;
    color: $BlackTextColor;
  }
}

.flex {
  display: flex;
  flex: 1; /* Takes up remaining space vertically */
}

.nav-panel {
  width: 180px; /* Adjust as needed */
  background-color: #F5F5F5;
  padding: 10px;
}

.flex-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.table-filters {
  margin-bottom: 20px; /* Adjust as needed */
  /* Your filter styles go here */
}

table {
  width: 100%;
  /* Your table styles go here */
}
