.flex-column-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding: 20px; // Adjust as needed
  width: 200px;
}

.flex-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-filters {
  margin-bottom: 20px; /* Adjust as needed */
  /* Your filter styles go here */
}

.table {
  width: 100%;
  margin: 0 50px;
  /* Your table styles go here */
}

.content {
  display: flex;
  flex-direction: row;
}