.flex-column-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  .nav-button {
    color: black;
    border-radius: 8px;
    border: 1px solid #1890ff;  // Border color same as text color
    padding: 10px;  // Adjust as needed
    margin-bottom: 8px;  // Adjust as needed

    &:hover {
      background-color: #d4e4ff;  // Darken the background color on hover
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.nav-panel {
  width: 240px; /* Adjust as needed */
  min-width: 240px;
  margin-top: 60px;
}

.flex-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-filters {
  margin-bottom: 20px; /* Adjust as needed */
  /* Your filter styles go here */
}

.table {
  width: 100%;
  margin: 0 50px;
  /* Your table styles go here */
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.action-button {
  padding: 10px 15px;
  background-color: #1890ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #0056b3;
}
