.flex-column-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.nav-panel {
  height: 60vh;
  padding: 20px;
  min-width: 240px;
  margin-top: 60px;
}

.flex-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-filters {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  margin: 0 50px;

}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}