.flex-column-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.nav-panel {
  padding: 20px;
  min-width: 240px;
  margin-top: 40px;
}

.flex-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.table-filters {
  margin-bottom: 20px;
}

.table {
  flex-grow: 1;
  width: 100%;
  margin: 0 50px;

}

.background-color {
  background: linear-gradient(to bottom, rgba(173, 216, 230, 0.8), rgba(140, 110, 170, 0.8));
  border-radius: 10px;
  min-width: 240px;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 40px;
}
.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.action-button {
  padding: 10px 15px;
  background-color: #1890ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #0056b3;
}
