.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .animate-in {
    &.login-form {
      background: linear-gradient(to right, #1890ff, #0a5bc4);
      padding: 20px;
      border-radius: 20px;
      height: 400px;
      width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;


      .text-to-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        margin-bottom: 20px;
      }


      label {
        text-align: left;
        margin-bottom: 8px;
      }


      .ant-input {
        border-radius: 10px;
        margin-bottom: 16px;
      }


      .ant-btn {
        border-radius: 10px;
      }


      p {
        margin-top: 16px;
        padding: 16px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        text-align: center;
      }
    }
  }
}

.header {
  display: none;
}

footer {
  display: none;
}
