.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-content {
  display: flex;
  flex: 1;
  align-items: center;
}

.picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.medium-sized-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 320px;
  margin-bottom: 10px;
}

.nav-button {
  color: black;
  border-radius: 8px;
  border: 1px solid #1890ff;
  padding: 10px;
  margin-bottom: 8px;

  &:hover {
    background-color: #d4e4ff;
  }
}

@media (max-width: 768px) {
  .menu-content {
    flex-direction: column;
  }
}
