@tailwind base;
@tailwind components;
@tailwind utilities;

.main-body {
    position: relative; /* Ensure the main body is also positioned */
    z-index: 1; /* Ensure the main body stays above the pseudo-elements */
}